!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fxchart
    = csrf_meta_tags
    = csp_meta_tag
  %body
    .header
      .img
        =image_tag("https://www.photolibrary.jp/mhd3/img683/450-2019032616412746325.jpg", size: "70x60")
      .title
        =link_to "fxchart","/"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield
